body{
  background-image: url("/shoe_catalogue/allstar.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #dc6f6f}

th {
    background-color: rgba(0, 0, 0, 0.71);
    color: white;
}
.dropDowns {
  display: inline-block;
}
h1, h2, h3, h4 {
color: rgb(194, 64, 64);
background-color: rgb(255, 173, 173);
text-shadow: rgb(222, 218, 218) 4px 1px 0px;
}
