body{
  background-image: url("/home/bootcamp/projects/shoe_catalogue/white-background-stars.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #dc6f6f}

th {
    background-color: rgba(0, 0, 0, 0.71);
    color: white;
}
.dropDowns {
  display: inline-block;
}
.back {
  background-image: url("/home/bootcamp/projects/shoe_catalogue/allstar.jpg");
}
